In [4]:
import pandas as pd

In [14]:
data_feb = pd.read_csv('FEBR.csv',delimiter=';')
data_jan = pd.read_csv('JANU.csv',delimiter=';')
data_jan.info()
data_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      294 non-null    int64
 1   SUM     294 non-null    int64
dtypes: int64(2)
memory usage: 4.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      182 non-null    int64
 1   SUM     182 non-null    int64
dtypes: int64(2)
memory usage: 3.0 KB

В январе было совершено 294 покупки, а в феврале - 182

In [8]:
users_jan = data_jan['ID'].nunique()
print(users_jan) 
users_feb = data_feb['ID'].nunique()
print(users_feb)

275
166

количество уникальных покупателей в феврале сократилось практически в 2 раза, в сравнении с январем

In [10]:
print('Средний чек в январе:',data_jan['SUM'].mean(),'\nСредний чек в феврале:',data_feb['SUM'].mean())

Средний чек в январе: 4804.411564625851
Средний чек в феврале: 6194.324175824176

In [18]:
print('Доход с пользователя в январе:',data_jan['SUM'].sum()/users_jan,'\nДоход с пользователя в феврале:',data_feb['SUM'].sum()/users_feb)
print('Доход за январь: ', data_jan['SUM'].sum(),'\nДоход за февраль: ',data_feb['SUM'].sum())

Доход с пользователя в январе: 5136.352727272727
Доход с пользователя в феврале: 6791.3674698795185
Доход за январь:  1412497
Доход за февраль:  1127367

Да, средний чек вырос и вырос доход с пользователя, но сократилось количество пользователей. И как видно, общий доход упал